input{
    border: 1px solid black;
    border-radius: 2px;
    }

input:valid{
        border-color: green;
    }
input:invalid{
        border-color: red;
    }
input[required]::after{
    content: "(Erforderliches Feld)";
}